.header {
    height: 87px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    color: white;
}

.logo {
    height: 24px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    margin-left: 16px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.divider {
    padding-left: 16px;
}

.signOutIcon {
    display: none;
}

.signOut {
    display: block;
}

.iso {
    display: none;
}

.active {
    color: #D6F379 !important;
}

@media (max-width: 475px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .signOut {
        display: none;
    }

    .signOutIcon {
        display: block;
    }

    .logo {
        display: none;
    }

    .iso {
        display: block;
        width: 27px;
    }

    .img {
        width: 27px;
    }

    .divider {
        padding-left: 16px;
    }
}