.header {
    height: 87px;
    background-color: #222222;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.logo {
    height: 24px;
}


@media (max-width: 390px) {
    .header {
        padding-left: 24px;
    }
}