.container {
    display: flex;
    justify-content: center;
  }

  .landing {
    max-width: 1140px;
    max-height: 464.5px;
    width: 75.39%;
    height: auto;
    margin-top: 148px;
    display: grid;
    grid-template-columns: 30.688vw auto;
  }

  .arrowContainer {
    height: 100%;
    max-width: 464px;
    max-height: 464.5px;
    position: relative;
  }

  .arrow {
    width: 100%;
    height: auto;
  }

  .textContainer {
    width: 100%;
    height: auto;
    max-width: 676px;
    max-height: 464.5px;
    display: flex;
    flex-direction: column;
    padding-left: 150px;
  }

  .text1, .text2 {
    max-width: 465px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: left;
    color: #FFFFFF;
}

.text2 {
    color: #D6F379;
}

.text3 {
    max-width: 295px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 36px;
}

.text4 {
    font-weight: 600;
    text-decoration: none;
    margin-right: 1em;
    color: #FFFFFF;
}

.login {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 197px;
   margin-top: 106px;
}

@media (max-width: 834px) {
    .landing {
        max-width: 100%;
        max-height: 794px;
        width: 100%;
        margin-top: 190px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 88px;
    }

    .arrowContainer {
        max-width: 318px;
        max-height: 318px;
    }

    .textContainer {  
        align-items: flex-start;
        padding-top: 74px;
        padding-left: 0;
    }

    .text3 {
        margin-top: 20px;
    }

    .login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 197px;
        margin-top: 106px;
    }
}

@media (max-width: 390px) {
    .landing {
        max-height: 794px;
        margin-top: 62px;
        padding-left: 0;
    }

    .arrowContainer {
        max-width: 222px;
        max-height: 222px;
        position: relative;
        padding-left: 70px;
    }

    .arrow {
        width: 100%;
        height: auto;
    }

    .textContainer {
        padding-top: 27px;
        padding-left: 43px;
    }

    .text1, .text2 {
        font-size: 40px;
        line-height: 48.78px;
    }

    .text3 {
        margin-top: 38px;
    }

    .login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 197px;
        margin-top: 30px;
    }
}