.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 116px;
    padding-right: 116px;
}

.artist {
    display: flex;
    justify-content: left;
    margin-top: 65px;
    width: 100%;
}

.circular_image {
    width: 237px;
    height: 237px;
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
  }

  .circular_image img{
    width:100%;
  }

  .artistInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 59px;
    padding-top: 31px;
}

.resultsContainer {
    display: inline-block;
    width: 100%;
}

.resultsHeader {
    text-align: left;
    margin-top: 76px;
}

.resultsTitle {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.results {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-wrap: wrap;
}

.artistName {
    font-size: 64px;
    font-weight: 700;
}

.artistFollowers {
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}

.album {
    max-width: 320px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
}

.albumImage {
    width: 272px;
    height: 241px;
    border-radius: 12px;
}

.albumInfo {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.albumName {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    text-align: left;
}

.albumReleaseDate {
    font-size: 16px;
    margin-top: 24px;
}

.saveButton, .deleteButton {
    margin-top: 24px;
    width: 184px;
    height: 48px;
    border-radius: 24px;
    background-color: #D6F379;
    color: black;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.deleteButton {
    background-color: #E3513D;
    color: white;
}

@media (max-width: 834px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .artist {
        flex-direction: column;
        margin-top: 23px;
    }

    .artistInfo {
        padding-left: 0px;
        padding-top: 31px;
    }

    .circular_image {
        max-width: 169px;
        max-height: 168px;
    }

    .artistName {
        font-size: 40px;
    }

    .artistFollowers {
        margin-top: 61px;
        margin-bottom: 8px;
    }

    .album {
       padding-bottom: 49px;
       width: 334px;
    }   
}

@media (max-width: 475px) {
    .container {
        padding-bottom: 123px;
        padding-left: 31px;
        padding-right: 31px;
    }

    .artist {
        flex-direction: column;
        margin-top: 41px;
        padding-bottom: 24px;
    }

    .artistInfo {
        padding-left: 0px;
        padding-top: 31px;
    }

    .circular_image {
        max-width: 169px;
        max-height: 168px;
    }

    .artistName {
        font-size: 40px;
    }

    .artistFollowers {
        margin-top: 61px;
        margin-bottom: 8px;
    }

    .album {
       padding-bottom: 49px;
    }
        
}